body{
    background-color: gray;
    color: white;
    
}
.container ul ol{
    background-color: rgba(128, 128, 128, 0);
    
    
}
nav {
    background-color: rgba(253, 253, 253, 0.244);
    
}
.modal{
    color: rgb(0, 0, 0);
    
}
.modal-header{
    background-color: gray;
    color: white;
    
}
